<div class="media mb-3 justify-content-center">
    <img src="/assets/images/Arslan_Aziz_2019_cropped.jpg" class="mr-3 ml-3 w-50 rounded-circle">
</div>

<h1 style>Arslan A. Aziz</h1>
<h5 style="margin-bottom:10px">data scientist | developer</h5>
<a href="https://www.linkedin.com/in/arslanaaziz/" style="color:inherit; margin-right: 5px" target="_blank"><i class="fa fa-linkedin-square" style="font-size:36px"></i></a>
<a href="https://github.com/arslan-aziz/" style="color:inherit;" target="_blank"><i class="fa fa-github-square" style="font-size:36px"></i></a>
<br>
<br>
<a href="/aboutme" style="text-decoration: none; color: white;"><h3>about me</h3></a>