<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <style>
    body {background-color: #FCFBF7;}
  </style>
  <body>
    <div class="container-fluid px-lg-0" style="height: 100vh; overflow-x: hidden;">
      <div class="row h-100 mx-lg-n0">
        <div class="col-3 bg-dark text-white text-center px-lg-0">
          <div class="mt-5">
            {% include sidebar.html %}
          </div>
        </div>
        <div class="col-9 px-lg-0">
          {% include navigation.html %}
          <div>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>